.row {
  display: flex;
  flex-direction: column;
}
.checkblog {
  color: white;
  text-align: center;
  margin-top: 7rem;
}
@media screen and (min-width: 768px) {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
  }
}
